.about {
    position: relative;
    width: 80%;
    left: 10%;
}

.about h4, h3{
    font-size: 2em;
    letter-spacing: 0.3em;
}

#up{
    position: relative;
    width: 80%;
    left: 10%;
}

#bottom{
    position: relative;
    width: 80%;
    left: 10%;
    padding-top: 0.1em;
}

#bottom img{
    position: relative;
    width: 30%;
    margin-top: 5%;
}

#bottom img{
    position: relative;
    width: 30%;
    margin: 5%;
}

/*media queries fot layout*/
@media (max-width: 1300px) {
    #up img{
        float: none;
        position: relative;
        width: 80%;
        left: 10%;
    }
    #up h4{
        float: none;
        font-size: 1.5em;
        position: relative;
        width: 80%;
        left: 10%;
        text-align: center;
    }
    #bottom img{
        display: none;
    }
    #bottom h4{
        float: none;
        font-size: 1.5em;
        position: relative;
        width: 80%;
        left: 10%;
        text-align: center;
    }
}