#form {
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    background: #747474;
    padding: 2em;
    border-radius: 8px;
    color: black;
}

#form fieldset {
    border: none;
}

#form legend {
    font-size: xx-large;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
}

#form input[type="text"],
#form input[type="date"],
#form input[type="tel"],
#form input[type="number"],
#form input[type="time"],
#form textarea {
    font-family: "Indie Flower";
    background: rgba(255, 255, 255, .1);
    font-size: larger;
    width: 100%;
    border-radius: 8px;
    background-color: whitesmoke;
    color: #464646;
    margin-bottom: 1.3em;
}

#form input[type="text"]:focus,
#form input[type="date"]:focus,
#form input[type="number"]:focus,
#form input[type="time"]:focus,
#form textarea:focus {
    background: #d2d9dd;
}

#form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 0.5em;
    text-align: center;
    border-radius: 15px 15px 15px 0px;
}

#form input[type="submit"] {
    position: relative;
    width: 60%;
    left: 20%;
    right: 20%;
    margin-top: 5%;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background: #1abc9c;
    font-family: "Indie Flower";
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #16a085;
    border-radius: 8px;
    letter-spacing: 0.3em;
}

#form input[type="submit"]:hover {
    background: #109177;
}

@media (max-width: 500px) {
    #form legend {
        font-size: x-large;
        padding: 0.8em;
    }
    #form input[type="submit"] {
        font-size: 0.8em;
    }
    #callout-timetable{
        display: none;
    }
    #form{
        margin: 0;
        padding: 0.5em;
        position: relative;
        width: 80%;
        left: 10%; right: 10%;
    }
}

@media (max-width: 460px) {
    #form input[type="submit"] {
        font-size: 0.8em;
    }
}

#callout-timetable {
    position: fixed;
    bottom: 10%;
    left: 2%;
}

.callout-header {
    padding: 15% 5%;
    background: #555;
    font-size: 1.7em;
    color: white;
}

.callout-container {
    padding-right: 1.5em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    background-color: #ccc;
    font-size: 1.1em;
    color: black
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}