body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Verdana, sans-serif;
    font-family: "Indie Flower";
    color: white;
    background-color: black;
    background-color: darkslategrey;
    background-repeat: no-repeat;
}

#back-on-top {
    display: none;
    position: fixed;
    bottom: 12%;
    width: 10%;
    z-index: 99;
    outline: none;
    background-color: rgb(13, 192, 236);
    opacity: 0.5;
    cursor: pointer;
    padding-top: 1em; padding-bottom: 1em;
    padding-left: 0; padding-right: 0;
    border: none;
    border-radius: 8px;
}

#back-on-top:hover {
    background-color: rgb(8, 147, 240);
}

#menu{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    left: 0; right: 0;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.8;
}

#menu li {
    float: left;
    font-size: 2em;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

#menu ul li a.active {
    background-color: goldenrod;
}

#menu ul li a.login-link {
    background-color: red;
}

#menu li.right {
    float: right;
}

/*media queries for the navigation-bar*/
@media all and (max-width: 685px) {
    #menu li.right,
    #menu li {
        float: none;
    }
    .center{
        font-size: 1em;
    }
}

@font-face {
    font-family: "Indie Flower";
    src: url("./fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#footer {
    position: relative;
    bottom: 0;
    top: 3em;
    width: 100%;
    background-color: #333;
    text-align: left;
    font-size: 100%;
    padding-top: 1em; padding-bottom: 1em;
}

#footer .social-links {
    text-align: right;
    position: absolute;
    top: 1em;
    right: 1em;
}

.fa {
    padding: 0.5em;
    width: 1em; height: 1em;
    text-decoration: none;
    margin-top: 0.7em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.title-font {
    font-size: 4em;
    font-weight: bold;
}

#title-area {
    position: relative;
    width: 80%;
    left: 10%;
}

#title-text {
    text-align: center;
    margin-top: 0.3em;
}

#title-area img {
    position: relative;
    left: 40%;
    padding-top: 1em;
    max-width: 15%;
}

.name{
    font-style: italic;
    font-weight: bold;
    color: #111;
}

span{
    font-size: 1.7em;
    letter-spacing: 0.1em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.right-float{
    float: right;
    width: 60%;
}
  
.left-float{
    float: left;
    width: 40%;
}

#header-progress-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#progress-bar-container {
    width: 100%;
    height: 8px;
}

#progress-bar{
    height: 8px;
    background: rgb(146, 148, 148);
    opacity: 0.9;
    width: 0%;
}

.hidden{
    display: none;
}