body {
    margin: 0;
    padding: 0;
    font-size: 95%;
    font-family: Verdana, sans-serif;
    color: white;
    background-color: black;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

/*the active link*/
#menu ul li a.active {
    background-color: goldenrod;
}

/*the login link*/
#menu ul li a.login-link {
    background-color: red;
}

#menu li.right {
    float: right;
}

/*media queries for the navigation-bar*/
@media (max-width: 600px) {
    #menu li.right, 
    #menu li {float: none;}
}

#footer{
    position: relative;
    bottom: 0;
    width: 95%;
    margin: auto;
    background-color: grey;
    text-align: center;
    font-size: 100%;
    padding: 0.5em;
    padding-right: 1em;
}

.fa {
    padding: 0.5em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 0.1em;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }