body {
    margin: 0;
    padding: 0;
    font-size: 95%;
    font-family: Verdana, sans-serif;
    font-family: "Zen Antique Soft";
    font-family: "Amatic SC";
    color: white;
    background-color: black;
    background-color: darkslategrey;
    /* background-image: url("/images/background.png"); */
    background-repeat: no-repeat;
}

#back-on-top {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 4em;
    width: 5%;
    z-index: 99;
    outline: none;
    background-color: yellowgreen;
    opacity: 0.8;
    cursor: pointer;
    padding: 1em;
    border: none;
    border-radius: 100%;
}

#back-on-top:hover {
    background-color: yellow;
}

.slideshow-container{
    position: relative;
    top: 3em;
    border: 2px yellow solid;/*REMOVE*/
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.8;
}

#menu li {
    float: left;
    font-size: x-large;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #111;
}

/*the active link*/
#menu ul li a.active {
    background-color: goldenrod;
}

/*the login link*/
#menu ul li a.login-link {
    background-color: red;
}

#menu li.right {
    float: right;
}

/*media queries for the navigation-bar*/
@media (max-width: 600px) {

    #menu li.right,
    #menu li {
        float: none;
    }
}

@font-face { 
    font-family:"Zen Antique"; 
    src:url("./fonts/Zen_Antique/ZenAntique-Regular.ttf") format("truetype");
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family:"Zen Antique Soft"; 
    src:url("./fonts/Zen_Antique_Soft/ZenAntiqueSoft-Regular.ttf") format("truetype");
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family:"Amatic SC"; 
    src:url("./fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
    font-weight: normal; 
    font-style: normal; 
}

#footer {
    position: relative;
    bottom: 0;
    top: 3em;
    width: 95%;
    margin: auto;
    background-color: #333;
    text-align: left;
    font-size: 100%;
    padding: 1em;
    padding-right: 1em;
}

#footer .social-links{
    text-align: right;
    position: absolute;
    top: 0;
    right: 1em;
}

.fa {
    padding: 0.5em;
    width: 2em;
    text-align: center;
    text-decoration: none;
    margin: 0.5em 0.1em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
