* {
    box-sizing: border-box;
}

.column {
    width: 50%;
    padding-top: 0.5em;
    padding-left: 3em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main-contacts h2{
    margin: auto;
    text-align: center;
    font-size: xx-large;
    padding: 2em;
}

#main-contacts img{
    width: 60px;
    height: 60px;
    padding-bottom: 1em;
}

#main-contacts{
    font-size: x-large;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

#column1 h4{
    padding-left: 5em;
}

ul li{
    list-style: none;
    text-decoration: none;
}

@media (max-width: 1200px) {
    #column2 li{
        float: none;
    }
}

@media (max-width: 900px) {
    #column1{
        float: none;
        position: relative;
        width: 80%;
        text-align: center;
    }
    #column2{
        float: none;
        position: relative;
        width: 80%;
        text-align: center;
    }
}

#inside1{
    position: relative;
    padding-bottom: 0.1em;
    width: 50%; left: 25%;
}

#map{
    float: none;
    position: relative;
    width: 80%; left: 10%;
    padding: 2em;
}

#map-iframe{
    position: relative;
    width: 80%; left: 10%;
    height: 30em;
    border: none;
}