.slideshow-container {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 4em;
}

.single-slide {
  display: none;
}

.single-slide img{
    width: 100%;
    height: 50%;
}

.dots{
    text-align: center;
    margin: auto;
    margin-top: 2em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#brief-description{
  position: relative;
  top: 4em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 2em;
  letter-spacing: 0.4em;
  margin: auto;
  width: 75%;
}

#brief-description h4{
  font-size: 1.5em;
  margin: auto;
}

#big-menu-button{
  position: relative;
  top: 3em; bottom: 3em;
  margin: auto;
  text-align: center;
  padding: 0.1em;
  letter-spacing: 0.1em;
  font-size: xx-large;
  font-weight: bold;
  margin: auto;
  width: 30%;
}

#big-menu-button a{
  text-decoration: none;
  background-color: black;
  color: white;
}

#big-menu-button a:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}

.title-font{
  /* font-family: "Zen Antique";  */
  font-size: 4em;
  background-color: unset;
  border: unset;
  text-align: center;
  font-style: bold;
}

#title-area{
  margin: auto;
}

#title-text{
  position: absolute;
  right: 25%;
  width: 50%;
}

#title-area img{
  position: relative;
  top: 0;
  right: 0;
  padding: 1em 0.5em 1em;
  max-width: 10%;
  min-height: 10%;
}