#home-image{
    position: relative;
    padding: 10%;
    margin: auto;
} 

#footer{
    position: relative;
    bottom: 5%;
    left: 25%;
    width: 70%;
    background-color: grey;
    text-align: right;
    font-size: 100%;
    padding: 0.5em;
    padding-right: 1em;
}