#form {
    position: relative;
    width: 50%;
    left: 25%; right: 25%;
    background: #747474;
    border-radius: 8px;
    color: black;
}

#form fieldset {
    border: none;
    padding: 2em;
}

#form legend {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: auto; margin-right: auto;
}

#form legend img{
    width: 50px; height: 50px;
}

#form input[type="text"],
#form input[type="password"] {
    font-family: "Indie Flower";
    background: rgba(255, 255, 255, .1);
    font-size: 1.5em;
    width: 100%;
    border-radius: 8px;
    background-color: whitesmoke;
    color: #464646;
    margin-bottom: 1.3em;
}

#form input[type="text"],
#form input[type="password"]:focus {
    background: #d2d9dd;
}

#form input[type="submit"] {
    position: relative;
    width: 50%;
    left: 25%;
    margin-bottom: 5%;
    padding: 2% 8% 2% 8%;
    color: #FFF;
    background: #1abc9c;
    font-family: "Indie Flower";
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #16a085;
    border-radius: 8px;
    letter-spacing: 0.3em;
    text-align: center;
}

#form input[type="submit"]:hover {
    background: #109177;
    color: black;
}

#callout-workers {
    position: fixed;
    bottom: 30%;
    right: 1%;
    width: 15%;
}

.callout-header {
    padding: 1em;
    background: rgb(255, 145, 0);
    font-size: 2em;
    color: white;
}

.callout-container {
    padding: 1em;
    background-color: #ccc;
    font-size: 1.5em;
    color: black
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

@media (max-width: 600px){
    #form legend {
        font-size: x-large;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    #form input[type="submit"] {
        font-size: 0.6em;
    }
    #callout-workers,
    #form legend img{
        display: none;
    }
    #form label{
        font-size: 0.6em;
        padding-top: 0;
    }
}