/* the idea on how to make the menu layout is taken from: https://www.w3schools.com/howto/howto_website_restaurant.asp */

#food-menu{
    position: relative;
    width: 70%;
    left: 15%;
    box-sizing: border-box;
    background-color: rgb(168, 167, 167);
    padding-bottom: 1em;
}

#food-menu img,
#explain img {
    width: 30px;
    height: 30px;
}

#menu-select{
    position: relative;
    width: 100%;
    font-size: 3em;
    background-color: rgb(66, 66, 66);
}

.column {
    float: left;
    width: 25%; /*are four columns*/
}

.active{
    background-color: goldenrod;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#menu-select a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.food-name {
    font-size: 3em;
}

.sub-menu{
    padding-left: 2em;
}

.sub-menu p{
    text-align: left;
    font-size: 1.5em;
}

.sub-menu h1 span{
    background-color: rgb(72, 119, 119);
    color: black;
    border-radius: 10%;
    font-size: 0.6em;
}

#explain{
    margin-top: 2em ;
    position: relative;
    width: 70%;
    left: 15%; right: 15%;
    text-align: center;
    font-size: 2em;
    background-color: rgb(204, 204, 204);
    border-radius: 15px 0 15px 0px;
}

#explain span{
    position: relative;
    width: 100%;
    font-size: 0.8em;
    color: black;
}